<!doctype html>
<html lang="en">

<body>

    <main role="main">


        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Listado de actores</h1>
                <app-actor-listado (seSeleccionoActorDeListado)="mostrar($event)" [vista]="vista"></app-actor-listado>

                <p><a class="btn btn-primary btn-lg" (click)="CambiarVista()" role="button">cambiar vista</a></p>
            </div>
        </div>

        <div class="container">


            <div class="row">
                <div class="col-md-4">
                    <h2>Peliculas</h2>
                    <app-pelicula-listado [arrayPeliculas]="arrayPeliculas" [peliculasListado]=false>

                    </app-pelicula-listado>
                </div>
                <div class="col-md-4 solomostrar">
                    <h2>Pais</h2>
                    <app-detalle-pais [listaPaises]="listaPaises"></app-detalle-pais>
                </div>
                <div class="col-md-4">
                    <h2>Detalle</h2>
                    <app-detalle-actor [actor]="actor"></app-detalle-actor>
                </div>
            </div>

            <hr>

        </div>


    </main>


</body>


</html>