<ul *ngIf="vista" class="list-group">
    <li (click)="SeleccionarPelicula(pelicula)" class="list-group-item" *ngFor="let pelicula of arrayPeliculas">
        <img [src]="pelicula.fotoDeLaPelicula">
        <span>{{pelicula.nombre}}</span>
    </li>

</ul>

<div *ngIf="!vista"  class="wrapper">

    <div (click)="SeleccionarPelicula(pelicula)" *ngFor="let pelicula of arrayPeliculas">
        <img [src]="pelicula.fotoDeLaPelicula">
        <span>{{pelicula.nombre}}</span>
    </div>
</div>

<br>
<p><a class="btn btn-primary btn-lg" (click)="CambiarVista()" role="button">Cambiar vista</a></p>