<ul *ngIf="actor" class="list-group mb-3">
    <li class="list-group-item lh-condensed">
        <div>
            <ul class="list-group mb-3 text-muted">
                <li class="list-group-item lh-condensed ">
                    <span>Codigo: {{actor.codigo}}</span>
                </li>
                <li class="list-group-item lh-condensed ">
                    <span>Descripcion: {{actor.descripcion}}</span>
                </li>

                <li class="list-group-item lh-condensed ">
                    <span>Precio: {{actor.precio}}</span>
                </li>

                <li class="list-group-item lh-condensed ">
                    <span>Stock: {{actor.direccion}}</span>
                </li>

                <li class="list-group-item lh-condensed ">
                    <span>País: {{actor.pais}}</span>
                </li>

                <li class="list-group-item lh-condensed ">
                    <span *ngIf="actor.comestible">Comestible: Si</span>
                    <span *ngIf="!actor.comestible">Comestible: No</span>

                </li>

            </ul>
        </div>
    </li>
    <br>
    <p><a class="btn btn-secondary" (click)="limpiar()" role="button">limpiar</a></p>