<!doctype html>
<html lang="en">

<body>
    <nav class="autohide navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="./bienvenido">Bienvenido</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./busqueda">Búsqueda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Peliculas</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li> <a class="dropdown-item" href="./peliculas/alta">Alta</a>
                        </li>
                        <li> <a class="dropdown-item" href="./peliculas/listado">Listado</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Actores</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li> <a class="dropdown-item" href="./actor/alta">Alta</a>
                        </li>
                        <li> <a class="dropdown-item" href="./actor/listado">Listado</a>
                        </li>
                        <li> <a class="dropdown-item" href="./actor/actorpelicula">Peliculas por actor</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</html>
<router-outlet></router-outlet>