<ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <ul class="list-group mb-3 text-muted">
                <li (click)="SeleccionarActor(actor)" class="list-group-item d-flex justify-content-between lh-condensed "
                    *ngFor="let actor of listaActores">
                    <span>{{actor.nombre}}</span>
                    <span>{{actor.apellido}}</span>
                </li>
            </ul>
        </div>
    </li>
</ul>